@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  src: url('./AvenirNextLTPro-Regular.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Condensed Italic';
  src: url('./AvenirNextLTPro-CnIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Italic';
  src: url('./AvenirNextLTPro-It.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light';
  src: url('./AvenirNextLTPro-UltLt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light Italic';
  src: url('./AvenirNextLTPro-UltLtIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light Condensed';
  src: url('./AvenirNextLTPro-UltLtCn.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
  src: url('./AvenirNextLTPro-UltLtCnIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Medium Condensed';
  src: url('./AvenirNextLTPro-MediumCn.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Medium Italic';
  src: url('./AvenirNextLTPro-MediumIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Medium Condensed Italic';
  src: url('./AvenirNextLTPro-MediumCnIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  src: url('./AvenirNextLTPro-Demi.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Demi Condensed';
  src: url('./AvenirNextLTPro-DemiCn.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Demi Condensed Italic';
  src: url('./AvenirNextLTPro-DemiCnIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Demi Italic';
  src: url('./AvenirNextLTPro-DemiIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  src: url('./AvenirNextLTPro-Bold.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Bold Condensed Italic';
  src: url('./AvenirNextLTPro-BoldCnIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Heavy';
  src: url('./AvenirNextLTPro-Heavy.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Heavy Italic';
  src: url('./AvenirNextLTPro-HeavyIt.woff');
}
  
@font-face {
  font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
  src: url('./AvenirNextLTPro-HeavyCnIt.woff');
}
